[2017-05-10 00:40] derfelot opened #1 "welcome"
This can be used as a place for discussion of cm12.1 security updates

ping @MSe1969 @Micha-Btz

[2017-05-10 05:06] Micha-Btz commented on #1
ok, will we discuss in english or german?

how we will begin? did we merge my patches first or will martin upload patches for April and May?
And i will suggest a list of CVS that we didn't fixes maybe someone later there is a new possibility.

[2017-05-10 08:23] derfelot commented on #1
I wouldn't mind either German or English. but in case somebody else would like to join later it might be a good idea to keep it in English.

I agree, we should make a list of all the April/may patches. then you guys can merge your stuff (maybe on a test branch first) which we can then cross off the list and we'll see what's left.

[2017-05-10 17:51] MSe1969 commented on #1
Hi,

quick update:

1.]
I've added the file giving the overview about what I was able to patch and what not. There is in fact 2 changes belonging to the April 1st list, where - due to significant code changes - a patch is not trivial (at least not for me :) ).
From the April 5th list, there are six kernel changes, where it would need to be determined, whether the changes are even relevant and if y

[2017-05-10 19:05] derfelot commented on #1
Hi,

thanks for the update.

1) Thanks for the list. I will have a look at those not so trivial patches and see what i can come up with.

2) All the repos you mentioned are now present and have a cm-12.1-test branch. Merge away :)

I also included the local_manifest, so we can change the cm-12.1-test branch there to use the other cm-12.1-test branches to try out builds.

3) I agree in leaving in a

[2017-05-10 19:16] MSe1969 commented on #1
Hi derf,

thanks a lot - I'll later start with my work.
Regarding the CMUpdater remove, works without any crash - I'll put my patch file into this repo.

Last question rgd. commits:
Do you have any preference for the initial commit? (e.g. one commit per CVE, even if that means several commits in the same repo; one commit per repo, or even one parent commit for all repo's)
I would normally commit p

[2017-05-10 20:18] MSe1969 commented on #1
Hi, 'android_external_libhevc' has no 'cm-12.1-test' branch yet.
Could you pls. add there as well? Thanks

[2017-05-10 21:12] derfelot commented on #1
sorry, must have slipped through the cracks, it's there now.

as for commits, I think over commit per cve is would make it more "readable".

[2017-05-10 22:11] MSe1969 commented on #1
Thanks,
as you can see, I have started committing my changes into the respective 'cm-12.1-test' branches, but I am not finished, yet, will continue tomorrow.
Once I am fully done, I'll do a test build and then let you know.
Regards, M.

[2017-05-11 05:20] Micha-Btz commented on #1
my patches for April misses CVE-2017-0558 and 0560
@MSe1969 did you have become this merged?

[2017-05-11 05:31] Micha-Btz commented on #1
should i renew my PR to the test branches or @MSe1969 can you merge all patches for april and may?

we can also remove some useless stuff. personally i use https://github.com/Micha-Btz/freecyngn
for this because I had have trouble to build the rom with such a mass removes.

[2017-05-11 06:41] MSe1969 commented on #1
Hi @Micha-Btz ,

this discussion repo has got some files in the code section. I have listed all patches in the file 'April-Patches-Overview.txt' with a status whether implemented, not relevant or me not having been able to backport: I was, same as you, so far also not able to work on CVE-2017-0558 and 0560 either.

The two of us can now directly commit, so no PR necessary. I will later this mornin

[2017-05-11 07:24] Micha-Btz commented on #1
ok, then i would commit my PR to the repo so you can skip
framework native/av and telephony - on the kernel side i didn't have success with cherry picking.
@derfelot how did you do this? did you have an extra repo from hammerhead and generate a patch from git or add you hammerhead as remote repo to the sony stuff?

I actually run a rom, that contains all the patches i have made to my repos and it

[2017-05-11 07:59] MSe1969 commented on #1
Sounds good - btw, in fact all three frameworks not yet done by me (av, base, native), so I will skip them and Telephony and only do the kernel stuff now.
With regards to the kernel stuff, I did not even try to cherry-pick, but went through it manually, looked at the diff view, checked whether the files would exists, copy/pasted patch file out of diff view and tried patch --dry-run first to see ho

[2017-05-11 08:17] derfelot commented on #1
I will do the fork later today.

as for the kernel patches, the manual way is fine. you can also manually copy/paste them from other devices. it's not how it's "supposed" to be done, but I've done it like that myself many times. in the end, this is nothing official and as long as it works and patches are applied, that's fine for me ;)

as for cherry-picking, you should be able to clone our kernel,

[2017-05-11 09:24] MSe1969 commented on #1
Okay, I have now completed:
build
external/libhevc
external/libnl
external/skia
external/sonivox
packages/services/Telephony
kernel/sony/msm8974

this means, the following is still outstanding and will be done by @Micha-Btz :
frameworks/av
frameworks/base
frameworks/native

And to summarize, the following CVE's of the April '17 ASB are not (yet) implemented:
CVE-2017-0558, moderate, frameworks/av

[2017-05-11 09:29] derfelot commented on #1
great, thank you. vendor_cm is there now.

[2017-05-11 09:44] MSe1969 commented on #1
thanks as well,
patched vendor/cm in 'cm-12.1-test' and updated also local_manifests accordingly

I suggest, once @Micha-Btz is done, we make a build, test and if all fine, merge cm-12.1-test into cm-12.1

[2017-05-11 11:13] Micha-Btz commented on #1
I will merge the patches today evening.

[2017-05-11 15:32] Micha-Btz commented on #1
so, patches merged. i had also include the fix for CVE-2017-0558.
After a detailed look at CVE-2017-0560 i have to give up. there are a hell lot of differences in code.

[2017-05-11 15:40] Micha-Btz commented on #1
fix for CVE-2014-9922 is not needed our kernel doesn't support sdcardfs

[2017-05-11 18:10] derfelot commented on #1
Great, I will see about those remaining ones

[2017-05-11 18:10] MSe1969 commented on #1
Thanks a lot, cool - I am fine to remove the three.

Regarding CVE-2017-0560, I personally don't care either:
It's about remote wipe, triggered by an app being device admin (e.g. Google Spy Services). I don't fully get, what the code and the commit comments want to say, but somehow seems, that if a secondary 'android user' was setup and active (instead of the default primary user), there could hav

[2017-05-11 19:40] derfelot commented on #1
CVE-2016-10234 I already merged in January it seems, so it can go.

I also found a backport for CVE-2014-9922 that I will include anyway, even if we don't have sdcardfs.

CVE-2016-10232 doesn't concern us indeed, we don't even have the corresponding functions.

[2017-05-11 20:29] MSe1969 commented on #1
Have built now and flashed, so far all ok :)

[2017-05-12 07:01] Micha-Btz commented on #1
I also have done a build. no problems so far.

[2017-05-14 09:31] MSe1969 commented on #1
Hi,
for the May ASB, we need two new forks:
external/bluetooth/bluedroid
external/giflib

I'll soon put a file with the May statuses into this repo.
Regards, M.

[2017-05-14 11:47] MSe1969 commented on #1
file with 1st overview about May patches now in discussion repo - please have a look.
I did not really deep-dive into the code, yet - where I could easily patch, I did already, where the code was different, I simply indicated, without really looking at the topic, yet.

[2017-05-14 14:04] Micha-Btz commented on #1
do we further commit to the test branches or will you first merge the patches to the cm-12.1 branches?
for april is at least
CVE-2017-0560, moderate, frameworks/base
CVE-2016-5349, High, kernel
open, i put in a fix for  CVE-2016-7097. I think CVE-2017-0560 can we ignore as @MSe1969 said.

[2017-05-14 17:11] derfelot commented on #1
So is CVE-2016-5349 is already fixed then? You removed it from the list.

I will go ahead and merge everything into the cm-12.1 branches and open up test branches for the May stuff.

Ill open a new issue for the remaining April stuff (if needed) and for May to avoid too much cluttering in this one.

[2017-05-14 17:48] derfelot commented on #1
OK, everything is merged into the cm-12.1 branches. I will go through may and create what is needed there.

[2017-05-14 17:49] derfelot opened #2 "ASB 04/2017"
Currently, the remaining unfixed CVE's are:

CVE-2017-0560, moderate, frameworks/base
CVE-2016-5349, High, kernel (fixed?)

[2017-05-14 17:49] derfelot opened #3 "ASB 05/2017"
Discussion about May 2017 security patches

[2017-05-14 18:03] Micha-Btz commented on #1
merde,  CVE-2016-5349 is not fixed, fixed is   https://review.lineageos.org/#/c/166122/
CVE-2016-5346 which was already in. I will correct that. right is what i have written above.

[2017-05-14 18:11] derfelot commented on #2
OK, everything is merged. Haven't tried a test build yet, but should be OK.

[2017-05-14 18:11] derfelot commented on #3
created test branches for everything that's needed. Also made new forks that are needed and invited you as collaborators. Let me know if i missed anything.

[2017-05-14 18:13] Micha-Btz commented on #2
we won't to release a build with april patches or still wait to may patches?

[2017-05-14 18:15] derfelot commented on #2
I think we could go ahead with an April build already. What do you guys think?

[2017-05-14 18:16] derfelot commented on #2
also because i think this trustzone issue (CVE-2016-5349) hasn't really been fixed for any other 3.4 kernel devices from what I can tell.

[2017-05-14 18:20] Micha-Btz commented on #2
I also had a look at other 3.4 kernels and there is still no fix but I'm not sure if we affected or not. I think release are ready.

[2017-05-14 19:02] Micha-Btz commented on #1
just for clarification we merge all new patches always to the test branch and if we are readyy you will merge it to the cm-12.1 branches for release, right?

[2017-05-14 19:08] derfelot commented on #1
yeah, that's the idea. This way we can test build first using those test branches.

I'm getting a funky error during build now (kernel compilation step). I'm building for z3c right now though. I just did a complete cleaning (including ccache) and trying again.

[2017-05-14 19:14] MSe1969 commented on #2
Hi, okay - then I'll do a build using cm-12.1 branch as our release branch - flash it, do some spot checks and then communicate accordingly, whilst we all (I'll then switch back to cm-12.1-test) continue working on the cm-12.1-test branch for the May stuff (and also, when ready, do the remaining April patches)

[2017-05-14 19:16] MSe1969 commented on #3
Just for clarification (I am pretty sure, you know already, but just to make sure):
In the Patches Overview text file, I have mentioned "implemented" for those patches, which I did already locally, but I have not sent a single commit to here for any May ASB fix.

[2017-05-14 19:23] derfelot commented on #3
Yup, sounds good.

I just updated the local_manifest for the -test branch as well. Like with the repos, I hope I didn't forget anything. Could you guys please double check? Thanks.

[2017-05-14 19:30] MSe1969 commented on #2
Hi, I think one step was missed - but don't worry - I'll take care:
The cm-12.1-test branch of local_manifests should also have been merged into cm-12.1 (and afterwards the cm-12.1-test references manually reverted to cm-12.1)
As said doing it right now directly in the cm-12.1 branch

[2017-05-14 19:32] derfelot commented on #2
I did do it, just didn't pick the commit that changed the branches to -test. Is something missing?

[2017-05-14 19:35] MSe1969 commented on #2
My mistake, please ignore my last post, you did all correct.

[2017-05-14 20:15] MSe1969 commented on #3
One remark and one question about local_manifest:

1. Remark
I have just pushed into cm-12.1 and cm-12.1-test the replacements for skia and sonivox.
I am not 100% sure, whether I initially forgot to put that in or whether that somehow got lost (I assume however the 1st)

2. Branch cm-12.1-test of local_manifests
The 'release' branch is now even to 'cm-12.1-test' in all other repo's (unless someone

[2017-05-14 20:17] Micha-Btz commented on #3
error: Cannot fetch derfelot/android_external_sonivox
error: Cannot fetch derfelot/android_external_skia
these repos missing the cm-12.1-test repo

[2017-05-14 20:25] derfelot commented on #3
hi, I was assuming we were doing strategy 2. after merging everything to normal branches I deleted test branches and reopened only those needed for may (which is why skia and vox are missing test branches now). similarly, I only opened test branches and added those to manifest which are now needed fire may.

[2017-05-14 20:26] MSe1969 commented on #3
Yes, just realized - then strategy 2 it is - please change the revision to cm-12.1 then

[2017-05-14 20:32] MSe1969 commented on #3
ok, just did it

[2017-05-14 20:39] derfelot commented on #3
OK, cool. this way is a bit more work once a month, but personally I'd prefer it because it results in a clear cut every month as well to start working on the new stuff.

[2017-05-14 20:42] MSe1969 commented on #3
I also prefer it this way, just wanted to have clarity

[2017-05-14 22:05] derfelot commented on #1
right, that error was because of something strange on my side it seem. a clean build has worked fine.

[2017-05-15 04:52] Micha-Btz commented on #3
for me it is also ok, maybe it is not so confusing with delete and create the test  branches if we use the month name for branches like may or june. So it would be clear for all, that the new branches are created:-)

[2017-05-17 15:30] MSe1969 commented on #3
Hi,
I have now done my part (so all pieces marked as "implemented" by me, when I created the Overview text file with the May patches). I've seen that @Micha-Btz has done CVE-2017-0592, thanks.

So this leaves us:
CVE-2016-7056	moderate
CVE-2015-7555	Critical
CVE-2016-10285	High

and the below stuff to be analyzed, if even applicable and then actioned:
CVE-2016-5867	High		<if applicable (probably n

[2017-05-17 19:20] MSe1969 commented on #3
Doing CVE-2015-7555 (GIFLib) right now, test build is running...

[2017-05-18 12:26] Micha-Btz commented on #3
As far as I see
CVE-2017-0628 Moderate <if applicable, backport required>
CVE-2017-0629 Moderate <if applicable, backport required>
CVE-2017-0631 Moderate <if applicable (file has different name!), backport required>
doesn't fit to us since we ause a camera implementaion form android 4.3 therefore I think we can leave it out.
same for CVE-2016-10295 and CVE-2016-10293 both doesn't fit the code in

[2017-05-18 12:36] Micha-Btz commented on #3
CVE-2017-0622 i will create a backport

[2017-05-18 16:16] Micha-Btz commented on #3
fix added, test build run fine

[2017-05-18 21:25] MSe1969 commented on #3
To be honest, no idea either . . .  - what I did at first was simply to go through the entire list to first of all identify, what can be definitely excluded and "leave the rest with a question mark" (so to say).
You did now a deeper analysis and what you write makes absolutely sense to me. So I agree to leave them out.
As for testing - what we can do is only regression testing (i.e. does the phone

[2017-05-19 05:26] Micha-Btz commented on #3
all the device tree's for msn8974 are getting these fix https://review.lineageos.org/#/c/173322/ in the last two days, I think we should try it also.

[2017-05-20 11:34] Micha-Btz commented on #3
@MSe1969 Doing CVE-2015-7555 (GIFLib) right now, test build is running...

what is the result? can you push the fix?

[2017-05-20 13:28] MSe1969 commented on #3
Hi, test was successful, just pushed the commit

[2017-05-20 15:42] MSe1969 commented on #3
I have marked the CVE's, which you have proposed 'not applicable', with [N/A - decision after analysis] in the file.

I've just applied  https://review.lineageos.org/#/c/173322/  locally, will do a build and then test and finally push. I think makes sense.

[2017-05-20 15:44] MSe1969 commented on #3
In fact, that would leave us only with the one deferred CVE-2016-7056 for boringssl (and THAT is a nightmare, I am working on that currently with the LOS folks in 'cm-13.0' - see topic boringssl-asb-2017.05), so whatever will be the outcome, will be taken over by us :)

[2017-05-21 12:50] MSe1969 commented on #1
I think we should close this issue and only continue in the April and May threads.
Would you agree?

[2017-05-21 13:13] MSe1969 commented on #2
Just did "CVE-2017-0560, moderate, frameworks/base", build running (looked at cm-13.0 in LOS and took over 1:1, what was there) - if build compiles, I'll push (I can't really test that one anyhow).

[2017-05-21 13:27] MSe1969 commented on #2
CVE-2017-0560 has been implemented now.

With regards to CVE-2016-5349, which is the only open item remeining and we tend to say it may not be relevant - should we flag as not relevant and close this issue?

[2017-05-21 13:41] MSe1969 commented on #3
https://review.lineageos.org/#/c/173322/ seems to run fine, either. I've pushed it now and will do a last test build.
As already mentioned, we need to defer CVE-2016-7056 for boringssl - once the solution for LOS cm-13.0 is available, I am optimistic, that we can simply switch and point to it, but that one right now turns out to be very difficult.
So I suggest after testing the current, we should

[2017-05-21 13:47] MSe1969 commented on #3
Oh, one last item:
What do you think about replacing the CM boot-animation with the LOS boot-animation?

[2017-05-21 16:06] Micha-Btz commented on #2
I would agree here. None of the mns 8974 kernels get the fix.

[2017-05-21 16:06] Micha-Btz commented on #1
I would leave this open for general questions and create an monthly issue for the better overview.

[2017-05-21 16:10] Micha-Btz commented on #3
Personally I would say better to wait for the patches for boringssl but when it take some days to finish the patches we can ship this with the june fixes to and create a release.

We can switch to LOS boot animation since we use most of theirs repos.

[2017-05-21 20:26] MSe1969 commented on #3
By the way, we've mutually decided that CVE-2016-7056 for boringssl does not apply for cm-13.0, hence it also is not relevant either for cm-12.0. Rationale: "The patch is about changing the way around calling function 'ec_group_get_mont_data' in ecdsa.c. This function is not present in the current code, hence CVE-2016-7056 does not apply to cm-13.0" - I'll update the Patch overview accordingly.

[2017-05-21 20:29] MSe1969 commented on #2
Okay, April ASB issue now closed

[2017-05-21 20:29] #2 closed

[2017-05-22 05:53] Micha-Btz commented on #3
then I think we are ready to ship the May release.
One thing I'm not able to verify is https://lineageos.org/Changelog-9/
Quote:

I have been asking in #lineageos-dev if it is relevant for cm-12.1 too but I get not really a helpful answer.
maybe we should take a testbuild with the patch. https://review.lineageos.org/#/c/173765/
Or has someone of you more information? I would make a testbuild today

[2017-05-22 17:06] Micha-Btz commented on #3
It doesn't  fit in our kernel code, so I assume the patch is not needed.

[2017-05-23 11:18] MSe1969 commented on #3
Hi, be careful, there are TWO patches, so this applies:

1. This https://review.lineageos.org/#/c/170648/ is the original su-hide patch
2. and this https://review.lineageos.org/#/c/173619/ is the patch of the patch

(So obviously, if the 1st is not applied, the 2nd cannot be applied either)
I'll have a look later (tonight).

[2017-05-23 11:50] MSe1969 commented on #3
Btw, the boot-animation thingi is a little bit more complicated, it seems - so let's first do the 'su-hide' patch, test, ship the May ASB and afterwards do the boot-animation

[2017-05-23 12:58] MSe1969 commented on #3
OK, 'su-hide' patches implemented

[2017-05-25 09:37] MSe1969 commented on #3
I've done now the boot animation and merged directly into cm-12.1, works fine.
@derfelot - could you please merge the cm-12.1-test branches into cm-12.1 ?
I'll upload our build to AFH and post a message on XDA.

[2017-05-26 12:50] MSe1969 commented on #3
I've merged branch 'cm-12.1-test' into 'cm-12.1' in the following repositories:
external/bluetooth/bluedroid
external/giflib
external/libhevc
frameworks/av
frameworks/base
kernel/sony/msm8974

I have further updated the local manifest in 'cm-12.1'

I haven't yet deleted the 'cm-12.1-test' branches - please have a look, when you find time and close then this ASB May issue.

[2017-05-26 13:35] derfelot commented on #3
Hi,

very sorry for the lack of activity form my side, but been super busy with work. I'll catch up on everything over the weekend :)

[2017-05-26 18:29] MSe1969 opened #4 "CVE-2016-5129 (left-over from April ASB)"
Little bit nasty:
Google has flagged for this one, that they didn't update AOSP 5.x and below.
However - if you look at this more carefully, it indeed IS relevant - however, between LP and MM, the chromium stuff was significantly reworked from "compile from scratch" to "provide a prebuilt webview.apk" and thus, the repository was reworked.

"v8" in MM is located in 'external/v8', whilst in LP and

[2017-05-28 18:11] MSe1969 commented on #3
'cm-12.1-test' branches deleted (except f. android_build), local_manifests 'cm-12.1-test' entreis point back to 'cm-12.1' (except f. android_build) - so ASB 05/2017 issue herewith closed.

[2017-05-28 18:11] #3 closed

[2017-05-29 07:07] Micha-Btz commented on #4
Now we have the fork will you commit the fix @MSe1969 or should I do?

[2017-05-30 10:13] MSe1969 commented on #4
Hi @Micha-Btz , as I did it already before (see: https://review.lineageos.org/#/c/174776/ - currently in review), it might be easier if I do it. I anyhow am trying something with regards to webview, which is meanwhile more than outdated (our chromium main version is 39, whilst 58 is 'state of the art'), which is related - will keep you guys posted.
@derfelot - please let me know, when you are avai

[2017-05-30 11:42] MSe1969 commented on #4
Hi @derfelot and @Micha-Btz -
Okay, my first tests look promising. So here comes my proposal - it consists of three parts:

1. **Patch/Fix V8 (the original topic of this issue)**
This is definitely necessary and I'll do it now

2. **The webview.apk of our build is really outdated (and thus most probably insecure!)**
When we build, it compiles release 39 from scratch, which is also time-consuming d

[2017-05-30 21:41] MSe1969 commented on #4
Have implemented topic 1 (CVE-2016-5129 in v8) and topic 2 (webview.apk rel. 58).
However, struggling with including the Chromium SWE as prebuilt system app (works fine as user app, but not as system app - need to further evaluate. Seems to be related to included libraries in apk, which seem to be unpacked as well during build).

[2017-05-30 21:55] derfelot commented on #4
Hi,

so should I just fork the platform/external/chromium_org/v8 from you and add you guys?

As for the rest:

2. That's good, but I also wouldn't have seen it as much of a problem. You could just remove the pre-installed webview and grab the updated one from play store. You can even run both side-by-side and select the one you want to use in dev options (IIRC).

3. That CAF browser would be a goo

[2017-05-30 21:58] MSe1969 commented on #4
rgd. the fork: whatever is easier - I can transfer the ownership of "my" fork to you, or you make a fork - you decide... :)

[2017-05-30 22:01] derfelot commented on #4
so i guess you have merged everything into the cm-12.1 branches, correct? Is it safe to remove the test ones? Anything else I missed doing?

Sorry, I'm still really busy with work and probably still will be till the end of this week. ;)

[2017-05-30 22:03] MSe1969 commented on #4
yes, all merged and test branches already purged.
currently three new test branches:
- android_build (because that one we need every month :) - but even with cm-12.1),
- android_vendor_cm (I am working on that one)
- and v8, which you've just forked

[2017-05-30 22:05] derfelot commented on #4
So nothing left for me to do then :p

Let's see how many hundred patches coming up for June then...

[2017-05-30 22:09] MSe1969 commented on #4
right :) - have just changed the local manifest to point v8 to 'derfelot' instread of 'MSe1969'
Yeah, curious to see June.

[2017-05-31 07:10] Micha-Btz commented on #4
when you already have tried to bump the kernel to the latest version I don't think I have more luck on this.
Maybe we should only apply patches that are work out of the box  and skip this ones that would not apply cleanly.
@MSe1969 I think include the browser as user app is enough so the user can easily remove this one if it is not wanted. The move to system app has no benefit I think.

Maybe we s

[2017-05-31 07:13] Micha-Btz opened #5 "kernel version outdated"
We should try to patch the kernel as far as possible to the latest version 3.4.113 maybe we can use some of
https://review.lineageos.org/#/c/174440/
Will give it a try after Pfingsten.

[2017-05-31 08:03] MSe1969 commented on #4
OK, I have merged CVE-2016-5129 fix and the prebuilt webview.apk into the stable release branch cm-12.1. I'll open a new issue for the Browser replacement and close this one.

@Micha-Btz - as far as I know, there is no possibility to deliver user apps in an OTA zip. The concept of OTA updates is, that the /system partition is wiped and newly flashed, whilst the /data partition remains untouched. I

[2017-05-31 08:03] #4 closed

[2017-05-31 08:20] MSe1969 opened #6 "Replace outdated Browser.apk"
The shipped Browser.apk from old CyanogenMod is outdated and supposedly insecure. It should not longer be shipped and replaced with a better solution. Summarizing the discussion in the CVE-2016-5129 issue (where it started to become off-topic), these are the considered options:

**1.) Consider shipping Gello** >> NOT FEASIBLE
Gello is meanwhile also outdated and will not be maintained any longer b

[2017-05-31 08:21] MSe1969 commented on #6
@Micha-Btz @derfelot - FYI

[2017-05-31 08:26] MSe1969 commented on #5
Very desired, but difficult (as already mentioned). Btw, the referred LOS review topic 'bacon-3.4.113' with the huge lot of patches assigned simply adresses the changes from sublevel 112 to 113 ...

[2017-05-31 09:23] Micha-Btz commented on #6
I did yesterday a quick test with Jelly. I change the min SDK Level to 22 and try to build it. Compile is possible but it doesn't  work. Lot's of fc. So I think this wouldn't work.
All workarounds need a new customisation if it changes something in chromium code new libs or something. The chromium-swe-updater I also wouldn't ship. If the user wants it it is installable via f-droid or something if

[2017-05-31 13:06] MSe1969 commented on #1
Hi @derfelot @Micha-Btz

please have a look here - you are listed as contributors, so you should be able to edit the OP as well.

https://forum.xda-developers.com/sony-xperia-z1-compact/orig-development/lineageos-12-1-z1c-current-sec-patches-t3614936

[2017-06-02 15:09] MSe1969 commented on #5
Hi @Micha-Btz  @derfelot  - you may have already noticed this new LOS feature:
https://cve.lineageos.org/android_kernel_sony_msm8974

It is however NOT the result of an automated repo scan, but the result of a manual update by the device maintainer, so I don't know, whether this is accurate or maybe not (e.g, because the respective maintainers did not really update it, yet - it for sure doesn't re

[2017-06-02 18:42] derfelot commented on #5
You mean since April 2016 :p

Anyhow, yeah that stuff is purely manual it seems. Unfortunately, there is no links to the respective commits though. I do have a (semi-) complete list of all the CVE's I've fixed or checked that the fix is already included though. For sveral fixes issues, I am unsure of the CVE #. Still not a bad idea to double check.

[cve.txt](https://github.com/derfelot/discussion

[2017-06-02 19:42] MSe1969 commented on #5
On that LOS CVE site, if you click on each CVE number, a popup opens with the link to the CVE DB and link(s) to the respective commits. I've done a little spot check, the oldest ones ARE patched in our kernel, so I really assume, that whoever device maintainer feels responsible has to go through that list first and mark the entries accordingly.

[2017-06-04 22:46] MSe1969 commented on #6
Hi,

I've finally managed to successfully include the SWE Browser into a build. I have updated our local manifest in branch 'cm-12.1-test' and created this repo https://github.com/MSe1969/android_packages_apps_CAF-Browser accordingly; more information about it in its README.

I've built the CodeAurora Chromium fork myself locally, according to the build and patch instructions given here: https://g

[2017-06-05 18:12] hahnjo commented on #5
I'm trying to take care of this and patch to 3.4.113. You can view my progress at my fork: https://github.com/hahnjo/android_kernel_sony_msm8974/commits/kernel-3.4

[2017-06-05 18:47] MSe1969 opened #7 "ASB 06/2017"
ASB 06/2017 has been published, however - not yet with links to the patches...

[2017-06-06 08:08] Micha-Btz commented on #6
hm, the main question is how we could point the user to the new browser. Can saved bookmarks
used with the new browser or will we break the user experience.

I'm for option c but maybe the best way it to make a public-opinion poll and let see how they decide.

Micha

[2017-06-06 08:42] Micha-Btz commented on #5
great work so far @hahnjo

I don't think that the LOS cvs Page are usefull for us and also @derfelot has patched most of them.
I will take a look at the page and derfs cvs.txt to see if we missed something and for the new ones we should do it as before and list which one is not fixed be us in the monthly issue.

[2017-06-07 05:39] Micha-Btz commented on #5
moin,
yesterday I compare the LOS cvs page and the cvs.txt from @derfelot
and the file contains all cve that are missed. I don't think all of this is really open but we should compare the
code. Probably the kernel patches fixes some of them too.

[missed-cvs.txt](https://github.com/derfelot/discussion/files/1056963/missed-cvs.txt)

@hahnjo I would wait until you patched the kernel to the latest su

[2017-06-07 20:37] hahnjo commented on #5
@Micha-Btz thanks for waiting!

We might want to add CVE-2016-1583: This had been fixed but I had some merge conflicts with that patch. Maybe just double check that the fix is still correct ;-)

[2017-06-08 06:28] Micha-Btz commented on #5
@hahnjo
are you finished? Then please PR this to derf's cm-12.1-test branch. Then we should test if a build is successful and after that we can look at the single CVE.
I will take a look at CVE-2016-1583 too.

[2017-06-08 06:58] hahnjo commented on #5
@Micha-Btz depends on the definition of `finished`: Yes, it compiles and it starts to boot. However, it hangs and bootloops after a while. Investigation pending...

[2017-06-08 07:33] Micha-Btz commented on #5
sad. bootloop's are difficult to debug I think. If you need some help tell me how to debug and I will take a look.

[2017-06-08 07:46] hahnjo commented on #5
I have to see if I can get a log right before it reboots.

Otherwise there is a limited number of merges where something could have gone wrong. Once the offending one is found, I can either look at the changes and conflicts or redo that merge one single tag after another. This will hopefully guide me to the wrong change. Still plenty of ideas here ;-)

[2017-06-08 07:52] Micha-Btz commented on #5
ok, lots of luck and patience to you :-)

[2017-06-08 08:56] MSe1969 commented on #7
Meanwhile, Google has updated the links to the AOSP changes, so I will tonight work through it and create a tracking list and also start working on the changes.

[2017-06-08 09:31] MSe1969 commented on #7
Hi all,

the June ASB affects the following components:

packages/apps/Bluetooth
external/bluetooth/bluedroid
external/libhevc
external/libvpx
external/libxml2
kernel/sony/msm8974
system/core

@derfelot - we need a fork of **LineageOS/android_external_libxml2**
For the others, I'll create a cm-12.1-test branch and update the local manifest in 'cm-12.1-test' accordingly later today.

[2017-06-08 09:34] MSe1969 commented on #7
Btw - as the work to get our kernel to 3.4.113 will require a lot of testing and work (where I unfortunately can only support by means of testing with my device), I'll continue working on our 'current' kernel for the June ASB.

[2017-06-08 12:40] Micha-Btz commented on #7
@MSe1969 do you will patch all of these CVE or should we split the work?

The kernel is a problem itself. Maybe it would be better to wait if Jonas has success with boot and running. Or we should create a new branch for the latest kernel patch level like Jonas did.

[2017-06-08 16:33] hahnjo commented on #5
Hehe, that was easy: https://github.com/derfelot/android_kernel_sony_msm8974/pull/1/commits/46083c47949758491c9055041fa994ca1f8840f9 Maybe I was a bit tired already yesterday evening ;-)

Anyway, here we go: https://github.com/derfelot/android_kernel_sony_msm8974/pull/1 (there was no cm-12.1-test and I don't yet have permissions to create one). Please give it a try!

[2017-06-08 16:36] hahnjo commented on #7
There are two vulnerabilities in the kernel, but I don't yet see Google's patches. Can you give a link if you've found them?

If needed, I can do the merge afterwards. I *hope* that this shouldn't be that particularly hard.

[2017-06-08 17:14] Micha-Btz commented on #7
I don't have take a look at the June CVE for the kernel now but normally I take a look here.
https://review.lineageos.org/#/q/p:%255E.*8974.*

[2017-06-08 17:50] Micha-Btz commented on #5
I have added CVE-2016-1583 after merging the PR without problems. I will make a test build and if it works I will commit to the repo.

[2017-06-08 18:08] hahnjo commented on #5
@Micha-Btz which one, https://bugzilla.redhat.com/show_bug.cgi?id=1344721 lists three patches?

[2017-06-08 18:28] MSe1969 commented on #7
@Micha-Btz - I'll do it now.
Normally, I create the test branches as follows (assumption - cm-12.1 is up to date, otherwise `git pull`):
[code]

[2017-06-08 19:16] MSe1969 commented on #7
Okay - I have now done the following:

**Created 'cm-12.1-test' branches for below repo's and updated the local manifest in 'cm-12.1-test':**
packages/apps/Bluetooth
external/bluetooth/bluedroid
external/libhevc
external/libvpx
system/core

**Waiting for fork of external/libxml2**
I can alternatively create the fork in my space and later, @derfelot will fork from my repo?

**Created repo for 'Priv

[2017-06-08 19:19] MSe1969 commented on #6
Hi, I've created a repo for the 'Privacy-Browser' and updated the local manifest accordingly (cm-12.1-test). To your comment rgd. bookmarks - I'll test this, however - LineageOS also simply announced, that they will replace Gello by Jelly in LOS 14.1 . . .
Currently, nothing decided, yet - feel free to test

[2017-06-08 19:51] hahnjo commented on #7
@MSe1969 depends on how fast the build shall be published. IMO if we don't find a problem with 3.4.113 in a week or so, a possible issue probably doesn't trigger with our usage scenario. In that case, it shouldn't make much of a difference if we wait an additional month. Just my 2 cents...

[2017-06-08 20:04] MSe1969 commented on #7
@hahnjo - I leave it up to you and @Micha-Btz to decide.

A proposal from my side:
Independent from the work distribution, we should always have two strictly separated testing scenario's at the beginning:
- a build 'cm-12.1-test' with the patches (except kernel) on the 'cm-12.1' stable branch kernel
- a build 'cm-12.1' without the patches on the new 3.4.113 kernel (cm-12.1-test)

By doing so, we c

[2017-06-08 20:16] hahnjo commented on #7
@MSe1969 this needs 3 test iterations. To avoid that, we should better do the patching and release a build with that. Afterwards, we can test 3.4.113 independently.

[2017-06-08 20:29] Micha-Btz commented on #5
@hahnjo I seems tricky. My build doesn't compile.
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=2f36db71009304b3f0b95afacd8eba1f9f046b87 is in and the other two patches doesn't fit our code.
Also I found this one https://review.lineageos.org/#/c/165178/ which aplly cleanly but I don't know how does it fit to the three patches itself. Strange for me.

[2017-06-08 20:37] Micha-Btz commented on #7
@MSe1969 I have merged the kernel patches 3.4.113 to test so we should create a new branch for this june patches. So that we can make more long term tests.
And just do the needed fork like that one for V8.

I will make a list for patches we need for the kernel for June and will create a new branch.

[2017-06-08 23:28] derfelot commented on #5
@hahnjo I've sent you an invite to become a collaborator for the kernel. If you need access to any other repos, give me a shoutout.

[2017-06-08 23:36] derfelot commented on #7
I've made a fork and invited all you guys

[2017-06-09 08:26] Micha-Btz commented on #7
- CVE-2017-7371 	file not available
- CVE-2017-7365 	file not available
- CVE-2017-7366 	GPU driver maybe backport needed
- CVE-2017-7367 	file not available
- CVE-2016-5861 	file not available
- CVE-2016-5864 	file not available
- CVE-2017-6421 	file not available
- CVE-2017-7364 	file not available
- CVE-2017-7368 	file not available
- CVE-2017-7369 	file not available
- CVE-2017-7370 	file not

[2017-06-09 16:30] MSe1969 commented on #7
I've created a tracking file for the 2017-06-01 patches ("core android" w/o kernel) and put it into the discussion repo. From the five patches marked as "not publicly available" (new Google game? wtf!), I have found two and will implement - the other three, I have given up.

[2017-06-09 17:48] MSe1969 commented on #7
the two CVE's, which I found despite 'not publicly available' concern external/pdfium - @derfelot we need a fork here, too - from android.googlesource.com/platform/external/pdfium

[2017-06-09 22:02] MSe1969 commented on #7
OK, done the 2017-06-01 patches, except the two for pdfium.
Test build running . . .

[2017-06-10 07:55] hahnjo commented on #5
@Micha-Btz your commit to `cm-12.1-june` is wrong: The code is already there, just below the lines you added. It won't compile because of the redifinition of `file`.

The code will go away anyway with 3.4.113 with commit https://github.com/derfelot/android_kernel_sony_msm8974/commit/068478a54bcd742e34b80f316472f3b06cacd8c6

[2017-06-10 08:14] hahnjo commented on #7
@Micha-Btz thanks for collecting this list of CVEs!

The patch for CVE-2017-7366 only required minimal conflict resolution, I think we *are* affected. I will need to take a closer at the two patches for CVE-2017-8242, though. If they are applicable, at least the first one will need quite a bit of manual work that I don't have time for just now.

May I push the committed fix for CVE-2017-7366 that

[2017-06-10 09:25] Micha-Btz commented on #7
I have revert the commit so you can start at a clean tree.

[2017-06-10 09:45] hahnjo commented on #7
I simply force-pushed. Please not the commit has only been compile-tested for now! I will look after CVE-2017-8242 ASAP

[2017-06-10 14:56] MSe1969 commented on #7
Hi, the 2017-06-01 fixes are now all implemented, I forked platform/external/pdfium to my repo.
@derfelot can later fork into here.

[2017-06-11 09:03] hahnjo commented on #7
Oops, I mixed up the CVEs in my previous comments: CVE-2017-8242 is done, I have to look after CVE-2017-7366!

[2017-06-11 11:02] hahnjo commented on #7
@Micha-Btz Regarding CVE-2017-7366: The GPU driver has changed a lot and most of the functions simply don't exist in our 3.4 kernel. I don't see a reliable way to backport the two commits and give up on that for now.

For 2016-06-05, there is CVE-2015-7995 which affects libxslt. I haven't found a patch though, is that even used with Android 5?

[2017-06-11 11:30] MSe1969 commented on #7
@hahnjo : CVE-2015-7995 is listed as only applicable for 4.4.4, so I assume not

To all - is my understanding correct, that regarding the 2017-06-05 section, only CVE-2017-7366 and CVE-2017-8242 is relevant? CVE-2017-8242 already done and CVE-2017-7366 deferred or even n/a?

In that case, we should build, test and ship...?!

[2017-06-11 11:54] hahnjo commented on #7
@MSe1969 Yes :+1: - as long as Google doesn't release patches for CVE-2017-0648 and CVE-2017-0651 which are listed under the general kernel section.

[2017-06-11 12:20] MSe1969 commented on #6
I've looked at the bookmarks topic:
- The old Browser does not offer an export option
- Privacy-Browser does not offer an option to import bookmarks

I don't think however, that we have "AOSP Browser Powerusers", most people anyhow have their favorite Browser. So, announcing that we are going to replace the pre-packed browser and that folks should write-down their bookmarks should be sufficient IM

[2017-06-11 16:10] hahnjo commented on #6
I agree that announcing and replacing an insecure part of software should be fine. IMHO we shouldn't allow the users to continue using it...

[2017-06-11 17:15] MSe1969 commented on #6
Okay, then that will be our direction.
Just doing a clean build now and then I'll upload the builds and do the announcement on XDA.

[2017-06-11 17:18] MSe1969 commented on #7
Doing clean build right now - will ship then, and merge stuff into cm-12.1 and remove the 'cm-12.1-test' branches (of course - EXCEPT kernel :) !! ) - @derfelot still needs to fork my 'pdfium' repo

[2017-06-11 17:30] MSe1969 commented on #5
With regards to the 3.4.113 build - two items to be considered:

1. Please make sure, that below commit does not get lost (LineageOS 'su hide' patch):
https://github.com/derfelot/android_kernel_sony_msm8974/commit/beb7c2696697311b4507d9dba805b89e6272b43e

2. We should include also the following patch
https://github.com/torvalds/linux/commit/3e21f4af170bebf47c187c1ff8bf155583c9f3b1

References:
htt

[2017-06-12 05:25] Micha-Btz commented on #5
Great so if I'm right we only need one patch from the june branch to the test branch and we can test the kernel 3.4.113. I will do a local build tonight to test this. And then I will take a look at the missed-cve.txt.

The su hide patch is in and there are no merge conflicts so I think it's ok.
CVE-2016-10277: Include this patch should not be a problem. I'm not sure if we are really affected since

[2017-06-12 05:30] Micha-Btz commented on #7
great. I have also not found patches for CVE-2017-0648 and CVE-2017-0651.
Maybe there are patches for this available later. Then we are done with June.

[2017-06-12 05:57] hahnjo commented on #5
@Micha-Btz I think we can just merge `cm-12.1` to `cm-12.1-test` once we promoted `cm-12.1-june`.

Regarding testing: I'm thinking about providing a flashable zip and asking in the xda thread for everyone interested to test. We could provide a "revert" zip to go back to the older kernel, just in case something goes wrong. What do you think?

[2017-06-12 07:37] Micha-Btz commented on #5
Let's do so. But before we offer a flashable zip we should consider that the phone boot correctly.
For now I haven't done a install test, did you?

[2017-06-12 07:53] hahnjo commented on #5
Yes, running since Friday without problems, subtracting the time when I tested the patch in `cm-12.1-june`...

[2017-06-12 08:39] Micha-Btz commented on #5
Ok, then it should work. It's a goog idea to have more tester.

[2017-06-12 18:41] hahnjo commented on #5
I think we should also apply these three patches, the latter two are fixes for the first commit:
* https://github.com/LineageOS/lge-kernel-mako/commit/5e0765757d92fc747f3b8a44b85821e8966c333e
* https://github.com/LineageOS/lge-kernel-mako/commit/383245ed97087e02651e28a7a2ecf0f49fa363fe
* https://github.com/LineageOS/lge-kernel-mako/commit/3d232fa82d96e9a700715eee05511ed33c2b5c6d

Just let me know

[2017-06-12 20:25] MSe1969 commented on #6
Build announced, Privacy-Browser packaged and shipped, so closing this issue

[2017-06-12 20:25] #6 closed

[2017-06-13 05:03] Micha-Btz commented on #5
No problems so far with my build. I will commit the patch today.
@hahnjo You can commit this patches I also think it would be a good thing to have.

[2017-06-13 15:34] Micha-Btz commented on #5
I'm done with the patch, @hahnjo you can commit.

[2017-06-13 15:58] hahnjo commented on #5
Ok. In addition to the ext4 patches I linked above, do we have other patches to include? Should I otherwise try to put this in a zip and post it for testing?

[2017-06-13 18:18] hahnjo commented on #7
@MSe1969 Will you merge `cm-12.1-test`? I've already merged `cm-12.1-june` for the kernel...

[2017-06-13 18:21] MSe1969 commented on #7
Yes, will do - have waited for the fork by @derfelot , but better do now and close this issue.

[2017-06-13 19:08] derfelot commented on #7
Sorry, you guys are too quick for me :p

Thought I already forked everything. Done now. Should be mroe responsive again starting next week :)

[2017-06-13 22:06] MSe1969 commented on #7
Hi all,

I have done now the following - EXCEPT for our kernel repo, which I have left **untouched**:

1. Merged all 'cm-12.1-test' branches into 'cm-12.1'
2. Verified for each affected repository, that 'cm-12.1' is even with 'cm-12.1-test'
3. Updated local manifest in 'cm-12.1': added removals and additions from cm-12.1-test manually
4. Updated local manifest in 'cm-12.1-test': Reverted all 'cm-1

[2017-06-13 22:06] #7 closed

[2017-06-14 05:03] Micha-Btz commented on #5
Now I will go trough the list of missed-cve to see which one we need and which one we have.
Will see if there are patches to apply.

[2017-06-14 08:14] Micha-Btz commented on #5
- CVE-2012-6704 fixed
- CVE-2013-2015 fixed
- CVE-2013-4312 fixed
- CVE-2014-0206 seems to be not belong to kernel 3.4 intoduced in kernel 3.10
- CVE-2014-1739 fixed
- CVE-2014-2706 fixed
- CVE-2014-3145 fixed
- CVE-2014-9922 fix for sdcardfs which we don't use in cm-12.1
- CVE-2014-9940 doesn't fit our code, 2nd opinion needed.
- CVE-2014-0565 belong to Adobe!?!
- CVE-2014-0570 belong to Adobe!?!

[2017-06-14 10:03] Micha-Btz commented on #5
- CVE-2016-0805 fixed
- CVE-2016-0823 fixed
- CVE-2016-10088 fixed
- CVE-2016-10153 fixed
- CVE-2016-10154 seems to affect only kernels 4.9+
- CVE-2016-10229 fixed
- CVE-2016-10230 fixed
- CVE-2016-10231 reserved not available yet
- CVE-2016-10232 open, unsure if we are affected, 2nd opinion needed
- CVE-2016-10233 fixed
- CVE-2016-10234 fixed
- CVE-2016-10235 open, fix https://github.com/LineageO

[2017-06-15 06:33] Micha-Btz commented on #5
- CVE-2017-0404 closed source binary patch available https://github.com/LineageOS/android_kernel_lenovo_msm8974/commit/b6b87ebf012532019e5a72b55d8b105002a721be
- CVE-2017-0432 MediaTek driver
- CVE-2017-0433 closed source
- CVE-2017-0434 closed source
- CVE-2017-0435 maybe we should remove Ultrasound like https://review.lineageos.org/#/c/177183/
- CVE-2017-0436 maybe we should remove Ultrasound li

[2017-06-15 06:58] hahnjo commented on #5
Wow, thanks for scanning all of them! Unfortunately, I won't be available until Sunday to either patch some CVEs or to take a second look.

Regarding a new branch: I'm not really sure. Do we want to test this in two stages or rather in one together with 3.4.113? I'd favor one stage and hence just using `cm-12.1-test` because this eliminates merge conflicts and maybe includes some already patched C

[2017-06-16 05:13] Micha-Btz commented on #5
That's not a problem take a look if you have time.

I thought about creating a new branch from cm-12.1-test which we must use as base since the missed-cve.txt is based on that branch. You have fixed some CVE with merging the lastest patches from 3.4.113.
But we can also commit to test branch.

[2017-06-16 14:25] MSe1969 opened #8 "Remove Tracking and Google dependencies from Trebuchet, LockClock and SetupWizard"
It is desirable to backport the LineageOS changes to remove Google Play dependencies and Tracking from the below system apps:

Trebuchet (launcher)
LockClock (clock & weather widget)
SetupWizard (initial setup)

To do so, the following commits need to be backported and the respective repositories need to be forked:
Trebuchet: https://review.lineageos.org/#/c/157952/
LockClock: https://review.linea

[2017-06-16 17:04] Micha-Btz commented on #5
so mostly done, compile test running.

[2017-06-16 17:06] Micha-Btz commented on #8
Great, would love to have this ones.
Maybe we should completely remove ambient-sdk like here
https://review.lineageos.org/#/c/144796/

[2017-06-19 06:05] Micha-Btz commented on #5
running this kernel now since Friday not problems so far.

[2017-06-19 17:21] MSe1969 commented on #5
Hi @Micha-Btz @hahnjo ,
is my understanding correct, that now all is finished (= 'ready' to ship) with the 3.4.113 kernel and we all should test it? (First the four of us and then we offer it in XDA for testing purposes)
I would like to start testing it as well :)
Regards, M.

[2017-06-20 05:09] Micha-Btz commented on #5
@MSe1969 it's not finished but on a very good way. The kernel run's great with all implemented fixes.
Now it would be great if someone can take a look at the CVE I have marked with 2nd opinion needed or backport required. Which are:
CVE-2014-9940 doesn't fit our code, 2nd opinion needed.
CVE-2016-10232 open, unsure if we are affected, 2nd opinion needed
CVE-2016-2061 open, one file to patch missed

[2017-06-21 19:09] hahnjo commented on #5
@Micha-Btz Could you for the next time `am` the patches so that we get the original author and commit message?

CVE-2014-9940: regulator_ena_gpio_free has been introduced with Linux 3.10, https://github.com/torvalds/linux/commit/f19b00da8ed37db4e3891fe534fcf3a605a0e562.
CVE-2016-10232: Not affected IMO
CVE-2016-2061: Not affected I think: msm_isp_axi_create_stream gets the index i differently than

[2017-06-22 10:14] MSe1969 commented on #8
Hi all, short status update:

1. Trebuchet and LockClock done, looks good so far.
@derfelot - please fork the following branches from my repo to here:
MSe1969/cm_platform_sdk
MSe1969/android_packages_apps_LockClock
MSe1969/android_packages_apps_Trebuchet

They all only have the changes in the cm-12.1 branch and no test branch exists, but as those repo's come in 1st time, a test branch is not neces

[2017-06-23 05:53] Micha-Btz commented on #5
@hahnjo I know about git am but we have decided that we use the CVE numbers in git commit description.
But I think use git am were more state of the art. Should we edit the original commit description if the CVE number was not mentioned? @MSe1969 @derfelot ?

If I'm right the only missing CVE is CVE-2016-5349?

[2017-06-23 06:13] hahnjo commented on #5
@Micha-Btz To make it easier to read the commit log for CVEs? IMO attribution and meaningful commit messages are equally important. Editing the commit message as done for the stable kernel seems a good idea (`backport to 3.4: adapted context` and the like).

Yes, CVE-2016-5349 is still missing from your list.

[2017-06-27 10:47] MSe1969 commented on #5
Hi,
haven't yet used git am; I think however, that (re)using the original commit messages and authorship definitely makes sense. If we can combine this by supplementing the CVE number as well, if missing, that should be the way forward (have done this already, when e.g. backported the ASB's to the original LOS  cm-13.0 code base the last two times)
Regards - M.

[2017-06-27 19:04] MSe1969 commented on #8
@Micha-Btz - ambient is not part of cm-12.1

[2017-06-27 19:17] MSe1969 commented on #5
CVE-2016-5349 is really a huge change - we've skipped it in our April ASB, because not all files to be patched exist. My usual "quick check" by copy-pasting into a patch file and running `patch -p1 --dry-run` on it to see whether it can be applied automatically reveals ~70% fails and only ~30% successful patching attempts. That means, that a lot of individual backporting is required - however, I h

[2017-06-28 05:48] hahnjo commented on #5
@MSe1969 yes, I also get the impression that we should apply the patch. Unfortunately, I probably won't find time until mid of July. Do we still want to post test kernels on xda? If yes, we should do so now before the July ASB comes in IMO

[2017-06-28 07:54] Micha-Btz commented on #5
I also think we should patch this. Exploits seems not far away. https://github.com/ucsb-seclab/boomerang
After a look at the lineage gerrit no one from the msm8974 devices have that fixed. So the only way I see is to create a backport on our one.
I will give it a try but I think it a little to much for me.

[2017-06-28 07:58] Micha-Btz commented on #8
Ah, i have had a look at the source and nothing found :-)
Have done a build yesterday evening and no problems so far.

[2017-06-28 18:31] MSe1969 commented on #5
I agree, we all have used our phones with the new kernel and nobody of us has experienced any weird behavior (this is my experience and from what I have read in this thread, you feel the same); so I also do not really see the necessity to ask folks in XDA for testing.

So let's ship the new kernel, the three google- and tracking-freed apps and the July ASB fixes together and afterwards, let's work

[2017-06-28 18:51] hahnjo commented on #5
@Micha-Btz @MSe1969 sounds good to me :+1:

[2017-07-02 17:50] MSe1969 opened #9 "Backport: Stats tracking reduction/elimination"
I think we also need to backport the below changes and need to fork LineageOS/android_packages_apps_Settings accordingly:

https://review.lineageos.org/#/c/154393
https://review.lineageos.org/#/c/154394
https://review.lineageos.org/#/c/154395
https://review.lineageos.org/#/c/155748/

[2017-07-03 05:18] Micha-Btz commented on #9
Just let us do so.

[2017-07-03 09:14] MSe1969 commented on #9
Okay, done - test build is compiling... (will push my commits afterwards)

[2017-07-03 18:50] Micha-Btz commented on #5
I give up on CVE-2016-5349 this is a nightmare. Some files are possible to patch but sometimes the are more than 1500 lines offset an one of the file is on a totally different location.
needed: include/soc/qcom/qseecomi.h
we have arch/arm/mach-msm/include/mach/qseecomi.h

I have done some research but some of our brother boards are:

I have ask in #lineage-dev but there was no help. I'm unsure if

[2017-07-04 08:51] MSe1969 commented on #9
Okay, all done - looks good. I've also backported https://review.lineageos.org/#/c/154080/
Test build looks good, manifest updated.

What has been changed?
1. Rebrand: In the settings, all is now referred to as 'LineageOS' and not 'CyanogenMod' any longer
2. Data privacy policy now displayable from LOS site (cyngn.com anyhow dead link)
2. In 'CyanogenMod' times, there were in fact two stats-tracki

[2017-07-04 09:57] MSe1969 commented on #5
I can confirm that this patch is not present in any of your listed LOS msm8974 kernels (I did not bother to look at the first two kernels, which state "unaffected" in the CVE tracker):

For the other three kernels, I have looked up the history of the file **drivers/misc/qseecom.c** in the respective LOS github kernel repos to find the commit for CVE-2016-5349 and I did not.
I have also simply sear

[2017-07-04 20:44] MSe1969 commented on #5
Hi,

I've succeeded to patched CVE-2016-5349 - after a couple of tries, it now compiles w/o syntax error finally...

I've created a new branch **cve-2016-5349** for this exercise in the kernel repo. It contains the four commits linked to that CVE in the April 2017 ASB. Further, I've added a file CVE-2016-5349.txt to our discussion repo.

**I definitely need a 2nd opinion about this topic**, as the

[2017-07-05 10:33] MSe1969 commented on #5
Seems to run stable so far - nevertheless, I really need your input

[2017-07-05 17:21] MSe1969 opened #10 "ASB 07/2017"
The Google ASB 07/2017 is out. (Not yet with links to the code)
Looks like a lot of work this time, again "Media" being the 'hot spot' . . .

[2017-07-05 17:28] MSe1969 commented on #10
As for release planning: All-in-one?
- the app features
- 3.4.113
- CVE-2016-5349
- ASB 07/2017

Or should we pack the app features and 3.4.113 and CVE-2016-5349 (which seems to run stable) into an 'Interim-Release' and take our time to do the ASB (1x runtime, 6x framework, 1x library, 9x media, 1x system UI, 8x upstream-kernel (if applicable), 17x CAF kernel (if applicable)?

[2017-07-05 20:52] MSe1969 commented on #8
=> ready for shipment

[2017-07-06 04:47] Micha-Btz commented on #5
for me it looks quite good but I would prefer if @hahnjo can also take a look.

[2017-07-06 04:50] Micha-Btz commented on #10
I would say all in one. Normally we make testbuilds after patching CVE's from ASB 07/2017 for us and so there are enough test's I think. And the kernel is tested about several weeks. And at least it is more work do more than one release :-)

[2017-07-07 08:15] Micha-Btz commented on #5
I would merge the cm-12.1-test branch to cm-12.1 so that we can start with July ASB.
Should I also merge CVE-2016-5349? Or should we test this one a little bit more?

[2017-07-07 08:31] MSe1969 commented on #5
I suggest the following:
1. Merge the current cm-12.1 branch into a new 'backup' branch first (just in case - we can purge later)
2. Merge cve-2016-5349 into cm-12.1-test first and then cm-12.1-test into cm-12.1
(I haven't observed any misbehavior, but I still would like @hahnjo to have a look)

[2017-07-07 09:00] Micha-Btz commented on #5
make sense

[2017-07-07 09:03] Micha-Btz commented on #10
Links to the patches now available. I will start with the kernel fixes. Which one you will fix @MSe1969 ?
As far as i know @derfelot is totally busy. Just that we not work on the same things.

[2017-07-07 09:07] MSe1969 commented on #10
Yes @Micha-Btz - if you could do the kernel stuff, that would be very good.
I am right now working on the other ("non-kernel") patches for LOS13, and will have from that exercise then a lot of patch files available, which I will try to reuse as much as possible for our ROM. So I will do the other patches.

[2017-07-07 10:58] Viktor245 commented on #1
Hi

Good job, I'll write your mistakes here.

[2017-07-07 11:40] Viktor245 commented on #1
https://play.google.com/store/apps/details?id=net.sourceforge.opencamera

I advise the camera to use this

[2017-07-07 11:46] Viktor245 commented on #1
http://4pda.ru/forum/index.php?showtopic=446121

Browser recommend this

[2017-07-07 11:48] Viktor245 commented on #1
http://4pda.ru/forum/index.php?showtopic=589149

The camera can be taken here, vklyuchaya fashion

[2017-07-07 11:53] Viktor245 commented on #1
I advise you to use this gallery:
http://4pda.ru/forum/index.php?showtopic=785182

[2017-07-07 12:20] MSe1969 commented on #1
Привет, Виктор - Спасибо за ваши материалы
(That's from Google translate - as far as I know, nobody of us is able to understand Russian :) )

Our stand point is: Everybody can install these apps on his own, so there is no need for us to ship them. We only replace or remove apps in the ROM, if the original app is faulty or insecure and should not be used any more.

The 'open camera' app however cou

[2017-07-07 12:51] Viktor245 commented on #1
I agree with you, and I do so, remove unnecessary programs from the system and install my own ones without a binding to google

[2017-07-07 21:28] MSe1969 commented on #10
I've stored a tracking file for the July ABS into this repo, please add also the kernel related stuff - will start now the patching for the non-kernel stuff

[2017-07-08 13:58] Micha-Btz commented on #10
Kernel components all fiexd. Some we have fixed before the ASB.
CVE-2017-6074 l | EoP | High | Networking subsystem
CVE-2017-5970  | DoS | High | Networking subsystem
CVE-2015-5707 | EoP | Moderate | SCSI driver
CVE-2017-0710  EoP | Moderate | TCB
CVE-2017-7308 | EoP | Moderate | Networking driver
CVE-2014-9731File system

[2017-07-08 14:08] Micha-Btz commented on #10
Qualcomm components
I exclude bootloader an d camera fixes.
- [ ] CVE-2017-8262 GPU driver
- [ ] CVE-2017-8263 Anonymous shared memory subsystem
- [ ] CVE-2017-8267 Anonymous shared memory subsystem
- [ ] CVE-2016-5863 USB HID driver
- [ ] CVE-2017-8243 SoC driver
- [ ] CVE-2017-8246 Sound driver
- [ ] CVE-2017-8256 Wi-Fi driver
- [ ] CVE-2017-8257 Video driver
- [ ] CVE-2017-8259 SoC driver
- [ ]

[2017-07-09 19:21] MSe1969 commented on #10
Btw, CVE-2017-0670 patch (bionic) screws up everything in cm-13.0, so trying to find a solution there first (it'll definitely also screw up cm-12.1 then)

[2017-07-10 05:44] Micha-Btz commented on #5
I think we are ready for release and the kernel is now on the latest patch level. So I think we can close this.

[2017-07-10 05:44] #5 closed

[2017-07-10 05:51] Micha-Btz commented on #10
I have had some trouble with two patches so I reverted these. I have updated the list above but I think we are ready to go.

[2017-07-10 06:00] Micha-Btz commented on #1
@Viktor245 you can install the most apps you mentioned from f-droid store so it makes no sense to include this. And as @MSe1969 say we must reduce the stuff we should maintain on our own. If you don't want some app you can take a look at my removal scripts and custom it to your needs.
https://github.com/Micha-Btz/freecyngn

[2017-07-10 07:53] Viktor245 commented on #1
Hello everybody!

It is easier for me to remove everything in the system and correct the translation.
And so good rum I wish you good luck!

[2017-07-10 21:59] MSe1969 commented on #10
great - I've implemented all patches except CVE-2017-0670, where a cherry-pick/backport of another change is necessary first before continuing. Test build of that cherry-pick running, afterwards, will continue.

[2017-07-11 06:48] hahnjo commented on #5
Sorry for the late reply but I'have been really busy in the past weeks...

@MSe1969 The applied patches look good from a short glimpse. Even if they don't fix the problem in the worst case, it's still better than nothing ;-)

I agree, this should be ready for release with the current ASB!

[2017-07-11 10:46] Micha-Btz commented on #10
@MSe1969 Will you please update the local manifest since I have no overview with packages you have forked or which branches you have created.

[2017-07-12 08:05] MSe1969 commented on #10
Now, CVE-2017-0670 has also been implemented. The local manifest has been updated (cm-12.1-test). For the July ASB, there was no new fork necessary. So the situation is as follows:
- Kernel has been patched by @Micha-Btz and @hahnjo (cm-12.1-test)
- My replacements f. SetupWizard, LockClock and Trebuchet are forks in my repository with branch cm-12.1 (as they are new, there is no need for a cm-12.

[2017-07-12 18:18] Micha-Btz commented on #10
@MSe1969 I have no compile problem. Rom build and run fine.

[2017-07-13 05:01] Micha-Btz commented on #10
I have give it a try yesterday but you are right there is something strange in the code.
Maybe we should merge https://android.googlesource.com/platform/external/libhevc/+/android-5.1.1_r24
this tag and give the patch a new chance. For build test I have reverted the relevant patch.

But there is also a problem in Download Provider
https://gist.github.com/Micha-Btz/a5ca6d960e4b3369989b7f3c3ea71588

[2017-07-13 08:14] MSe1969 commented on #10
Unfortunately, I won't have any time today and most probably also not tomorrow. If you can take care, please go ahead. One comment: Our manifest is on AOSP tag 5.1.1_r38 - so shouldn't we merge this tag, if our forks are far behind? (Even if there hasn't been any change since)

[2017-07-13 10:43] Micha-Btz commented on #10
I will make a test, if we could use the cm-13 tree. Download Provider the only thing I can do is to revert the patch. I simply don't understand java.

[2017-07-13 15:46] hahnjo commented on #10
I will try to have a look at the two problems now ;-)

[2017-07-13 18:46] hahnjo commented on #10
I've fixed DownloadProvider and uploaded the fix to my fork: https://github.com/hahnjo/android_packages_providers_DownloadProvider

With that, the build has succeeded, will test in a minute

[2017-07-14 08:18] Micha-Btz commented on #10
@hahnjo  @MSe1969
The download provider patch works :-)
To take external/libhevc from the cm-13.0 tree doesn't work there are to massive changes so that it doesn't compile. But it is really strange seems that libhevc from CyanogenMoD/LOS differs really from android source. In my opinion there is missing a complete merge.
here the diff from it
[0001-Added-SEI-structures-and-reordered-ihevc_structs.

[2017-07-14 17:32] MSe1969 commented on #10
Thanks @hahnjo for finding the issue. I've amended my commit accordingly. so it appears as one commit, as it should be and not as several commits.
I'll have a look now to libhevc

[2017-07-14 18:31] MSe1969 commented on #10
Just a hint, forgot to patch bionic - have now first applied a patch, which was also necessary in cm-13.0 to prevent the "overkill crashing" which has happened when applying the ASB patch. That ASB patch however cannot be cherry-picked, I need to apply it manually.

[2017-07-14 19:09] MSe1969 commented on #10
hmm... - looking at the bionic patch, the coding really is significantly different, not really sure how we would backport that change . . .

[2017-07-14 22:02] MSe1969 commented on #10
I have fixed libhevc (in fact, only one '#define' statement needed to be backported), have incorporated/amended the DownloadProvider fix from hahnjo and have set the version string.

But the bionic change needs to be deferred, the coding is significantly different, if you also look at the main logic and the call chains. I suggest to ship w/o bionic and work on bionic separately.

The test build lo

[2017-07-15 06:29] hahnjo commented on #10
5.1.1_r38 will probably include the security fixes that we backported by hand, no?

[2017-07-15 09:05] MSe1969 commented on #10
No, 5.1.1_r38 is the last tag published by Google for "Lollipop" - it has been published in July 2016 and corresponds to security string 2016-07-05 - so it's one year old.
The CM forks have sometimes been forked way before, so at least merging the "non-security related" stuff (the sec.related hopefully is in through the ASB's) may improve the code base or may make it in future easier for us to bac

[2017-07-15 14:38] hahnjo commented on #10
@MSe1969 I think we should keep the security backports on a best-effort basis. However, the commit message is quite unclear and I don't really understand how important this change is...

[2017-07-16 07:59] Micha-Btz commented on #10
The problem is when we not understand the commit and no one from us can backport the whole
bionic and libhevc than I would say leave it out. Maybe we take more damage when we backport this wrong.

Other question:
Do you use encryption? On xda there is a message that initial encryption not work.

[2017-07-16 08:04] hahnjo commented on #10
@Micha-Btz I have seen that. I will try to find some time for testing. Might be worth a try to encrypt with a clean install...

[2017-07-16 08:15] hahnjo commented on #10
@MSe1969 you'd need to force push to DownloadsProvider. At the moment, there are two versions of the commit and a merge afterwards.

[2017-07-16 10:48] hahnjo opened #11 "Encryption does not work"
After some reports on XDA, I was able to reproduce this with a clean ROM: Go to Settings > Security > Encrypt phone and confirm. The phone will reboot without encryption.

I suspect there could be a kernel crash, introduced by one of the recent backports. However, there is no `/proc/last_kmsg` so the search might be funny :-1:

/cc @Micha-Btz

[2017-07-16 11:47] Micha-Btz commented on #11
we should test older  releases from  april  till june

Am 16. Juli 2017 12:48:39 MESZ schrieb Jonas Hahnfeld <notifications@github.com>:

[2017-07-16 12:14] MSe1969 commented on #10
@hahnjo - just to make sure: What would need to be done exactly? I've invited you as a collaborator, so if you can quickly do it, appreciated :)

[2017-07-16 12:23] MSe1969 commented on #10
Coming back to the ASB topic, @hahnjo and @Micha-Btz - I have fixed the libhevc issue, so libhevc is done (done a test build and updated cm-12.1-test, running stable). However - bionic still open.

This is my opinion:
1. We should ship the ASB and defer this, but not abandon it
2. The described issue of unlinking seems to me a "chain" of issues working together before it actually becomes a vulnera

[2017-07-16 12:25] hahnjo commented on #10
@MSe1969 done ;-)

[code]

I agree, we should skip bionic for now. Please give me some time to figure out a solution for #11 before shipping.

[2017-07-16 12:37] MSe1969 commented on #10
Thanks :)

[2017-07-16 12:38] MSe1969 commented on #11
Regarding encryption, I just have one idea, which came into my mind, when I read in our thread where a log entry says something with
[code]

[2017-07-16 12:48] hahnjo commented on #11
I have also looked at this log, a quick search lead to http://vogelchr.blogspot.de/2015/08/full-disk-encryption-with-cyanogenmod.html
At least on my phone, I'm not subject to this particular issue and I've also not seen that log message.

Encryption works with June build, currently testing July build with June kernel.

[2017-07-16 13:52] hahnjo commented on #11
Looks like I have to revise my statement regarding CVE-2016-5349: In the worst case, they break encryption. I have reverted the four commits for now in `cm-12.1-test` so that we can release the July ASB.

[2017-07-16 13:52] #11 closed

[2017-07-16 13:54] hahnjo opened #12 "CVE-2016-5349"
To restore encryption functionality, I had to temporarily revert the four commits fixing CVE-2016-5349 (see #11).

We should either have a look at them again or decide to skip them.

[2017-07-16 13:56] hahnjo commented on #10
I've fixed #11 by reverting the commits for CVE-2016-5349 and opened #12 as a follow-up.

@MSe1969 @Micha-Btz IMO we are ready to release. Shall I do a clean build this evening and announce the new version?

[2017-07-16 14:12] MSe1969 commented on #10
Hi @hahnjo - thanks a lot!

Regarding release/shipment, I suggest the following:

1. I would like to edit the announcement also in the project itself, as I also did some changes to a couple of apps (see my other issue), so I would like to take care this time.

2. I just did a clean build yesterday (microG patched), so re-doing it with the updated kernel won't take long. If you in parallel create a

[2017-07-16 14:13] MSe1969 commented on #9
Shipping the changes, so closing this issue now

[2017-07-16 14:13] #9 closed

[2017-07-16 14:14] MSe1969 commented on #8
Shipping the changes, so closing this issue now

[2017-07-16 14:14] #8 closed

[2017-07-16 14:18] MSe1969 opened #13 "CVE-2017-0670"
Deferred patch from July 2017 ASB:
See here: https://android.googlesource.com/platform/bionic/+/e102faee8b2f87c28616e7f5453f9a11eea9b122

Code in LP significantly differs, so backporting the patch is not trivial at all, however - according to Google ASB, this also applies to LP.

[2017-07-16 14:18] MSe1969 commented on #13
#10

[2017-07-16 14:22] MSe1969 commented on #10
I've created #13 to follow up on the bionic patch

[2017-07-16 14:32] hahnjo commented on #10
@MSe1969 looks like I can't edit OP, but my name also isn't "linked" as the rest...

Ok, can do the clean build, no problem ;-)

[2017-07-16 15:08] MSe1969 commented on #10
@hahnjo - I've switched you with @derfelot , you should now have edit rights

[2017-07-16 20:13] MSe1969 commented on #10
with the build now shipped and follow-on issues created, I'll close that one - will merge the branches accordingly

[2017-07-16 20:13] #10 closed

[2017-07-17 09:08] Micha-Btz commented on #12
It seems that this also solve the problem with different display types. https://forum.xda-developers.com/showpost.php?p=73060388&postcount=130

I would say leave it out seems the backport makes more trouble as solves problems.

[2017-07-17 12:06] hahnjo commented on #12
Hmm, I can't download the provided log files so I don't see a proof that this is related?

[2017-07-17 12:45] Micha-Btz commented on #12
I also can't. But if I'm right the diff between the June and the cve rom was only this patch.

[2017-07-17 18:08] hahnjo opened #14 "Camera not saving pictures?"
The default Camera tries to save the taken pictures in `/storage/emulated/0/` which does not exist. This has worked with the June release.

@Micha-Btz @MSe1969 Can you confirm this issue? Do you have an idea? I probably won't find time to look into this until Wednesday or so...

[2017-07-17 18:23] MSe1969 commented on #14
Works fine with my device - no issues at all.
/storage/emulated/0 exists (and so does the /sdcard symlink pointing there)

[2017-07-17 18:45] Micha-Btz commented on #14
I have no problems:

photos are saved without problems.

[2017-07-17 18:50] hahnjo commented on #14
Hmm, did you flash my build or the microG-patched one? Maybe I'm missing some patch...

[2017-07-17 19:27] MSe1969 commented on #13
I have looked at tag 'android_6.0.0_r1', which dates back to July 2015 and shows already the coding we see in cm-13.0 and when I look into 'android_5.1.1_r38', which dates back to July 2016 (one year later) and shows the LP logic.

So, there is three possibilities from my point of view:
1. does not apply at all (however, Google has stated they adapted the 5.1.1 and 5.0.2 code)
2. the MM logic has

[2017-07-17 19:29] hahnjo commented on #14
Very interesting: If you create a directory via MTP, apps are not allowed to create files in them! Sorry for the noise!

[2017-07-17 19:29] #14 closed

[2017-07-17 19:36] MSe1969 commented on #12
Just for completeness: There is also another difference between June and -cve, but that is not relevant (otherwise the folks would complain now): LockClock, Trebuchet, SetupWizard and Settings (rebrand, remove Google lib, remove tracking)

From a pragmatic point of view:
- Revertig the commits fixed issues
- No CM/LOS 3.4.x kernel had this CVE patched

(No reason to close this issue immediately, b

[2017-07-22 13:23] MSe1969 commented on #1
Hi all,

I have now merged the cm-12.1-test branches into cm-12.1, updated the local manifest in cm-12.1 and also in cm-12.1-test and deleted the test branches (exceptions listed below).

This is the new status:
1. Below repositories have been merged into cm-12.1 and the test branches have been deleted; bot local manifests point to cm-12.1 (note: the cm-12.1-test local manifest always points to cm

[2017-07-22 13:32] MSe1969 opened #15 "CVE-2016-7056"
CVE-2016-7056 (from May 2017 ASB) points to boringssl.
It was left out (N/A for LP), but in fact - see #3 - it is relevant.
In LOS 13, we have deferred it, since a backport seemed to be too complicated and most probably not relevant. However, Google has published tag android-6.0.1_r80 recently, which makes the 6.0.1 coding fix for this CVE visible and we can now analyze and evaluate the LP backpor

[2017-07-22 20:37] MSe1969 opened #16 "microG - Proposal"
The two listed changes (rejected by CyanogenMod) are a port of the OmniROM Custom ROM. They combine the patch I use to build my microG-patched version (btw, also rejected by CM) with the option to enable/disable that feature in the developer settings.

https://review.lineageos.org/#/c/67174/
https://review.lineageos.org/#/c/130219/

So by default, sig-spoofing is disabled/not available, until a us

[2017-07-23 11:13] MSe1969 commented on #1
With regards to kernel, I have yesterday wrongly looked at the stuff (it DOES make a difference, if you compare branches at github, which branch is the base - and the message if cm-12.1-test is the base and cm-12.1 is the compare branch looks similar to the real "identical" message).
So indeed, cm-12.1-test still needs to be merged into cm-12.1 - will do a test build before and then do the merge.

[2017-07-24 05:42] Micha-Btz commented on #16
For me ok. I have had a test with microg in the last week and the device have had some strange reboots.
But when it is not enabled by default it is fine.

[2017-07-24 06:24] Micha-Btz commented on #15
maybe we should test if we can use the library directly from the cm-13.0 repo. Would save us some headache.

[2017-07-24 08:23] MSe1969 commented on #15
'cm-13.0' work on tag android-6.0.1_r80 is still WIP in LineageOS.
between Android 5.x and 6.x, the most significant visible difference of the boringssl lib is its location in the build tree (and this is my suspicion, why Google may not have considered LP). But yes, we can try...

[2017-07-24 08:29] MSe1969 commented on #16
Thanks for the feedback, so I'll push them the two commits (I've already tested successfully).

microG runs perfectly stable on all my devices - so just to make sure:
You have maybe seen in the "welcome" issue, that I've missed to merge the kernel from cm-12.1-test to cm-12.1, when I was merging all other stuff (I did meanwhile), and the test build with the new microG-feature caused my device beca

[2017-07-24 14:02] MSe1969 commented on #16
Ok, commits are pushed (test branch)

[2017-07-24 21:18] Micha-Btz commented on #15
I have git the LOS boringssl cm-13.0 a try. build and install fine. But wifi is not working. Mobile connection with LTE works fine. Log tells that the wifi state machine is unclear maybe a chipper problem with WPA2.
Seems not to work for us.

[2017-07-25 18:37] MSe1969 commented on #15
ok, thanks for testing. When I find some time, I'll try to backport.

[2017-08-13 18:33] Micha-Btz opened #17 "ASB 08/2017"
August ASB are released.
2017-08-01 security patch level—Vulnerability details
- [x] CVE-2017-0712 | EoP | Moderate | 5.0.2, 5.1.1, 6.0, 6.0.1, 7.0, 7.1.1, 7.1.2
      patch reverted - get compile errors
- [x] CVE-2017-0713 | RCE | High | 4.4.4, 5.0.2, 5.1.1, 6.0, 6.0.1, 7.0, 7.1.1, 7.1.2
- [x] CVE-2017-0714 | RCE | Critical | 4.4.4, 5.0.2, 5.1.1, 6.0, 6.0.1, 7.0, 7.1.1, 7.1.2
- [x] CVE-2017-0720

[2017-08-13 18:42] Micha-Btz commented on #17
Kernel

- [ ] CVE-2017-10661 | A-36266767 Upstream kernel | EoP | High | File system
- [ ] CVE-2017-0750 | A-36817013* | EoP | Moderate | File system
- [ ] CVE-2017-10662 | A-36815012 Upstream kernel | EoP | Moderate | File system
- [ ] CVE-2017-10663 | A-36588520 Upstream kernel | EoP | Moderate | File System
- [ ] CVE-2017-0749 | A-36007735* | EoP | Moderate | Linux kernel

[2017-08-14 09:25] Micha-Btz commented on #17
https://review.lineageos.org/#/c/182335/  LVT-2017-0004

[2017-08-14 18:44] Micha-Btz commented on #17
patch for CVE-2017-0712 I have to revert. I get an compile error.

[2017-08-23 18:53] Micha-Btz commented on #16
released

[2017-08-23 18:53] #16 closed

[2017-08-23 18:54] Micha-Btz commented on #17
released I will leave this open for now maybe someone can fix the latest bug,

[2017-08-24 18:27] hahnjo commented on #17
Sorry for being late to the party: I've succeeded in applying the patch for CVE-2017-0712 (you have to replace `constexpr`, which is C++11, with `const` and `num_bssid` with `num_ap`) and uploaded the tree to my fork: https://github.com/hahnjo/android_frameworks_opt_net_wifi/tree/cm-12.1-test Feel free to add the repository to the local_manifests that I don't have access to.

If wanted, I can shar

[2017-08-25 08:45] Micha-Btz commented on #17
thanks a lot @hahnjo replace constexpr with const i have tried but then it also doesn't compile. num_ap does the trick. I have commited it to @derfelot repo.
@derfelot can you add please add @hahnjo as collaborator?
You can share your build if you want. I would wait for September because uploading a new build takes more than 8h for me

[2017-08-25 08:45] #17 closed

[2017-09-04 08:04] Micha-Btz commented on #12
I think we can close this as unaffected since fairfone, lge, htc and lenovo are marked as unaffected in cve.lineageos.org. OK?

[2017-09-04 08:05] Micha-Btz commented on #15
Where you able to test this @MSe1969 ?

[2017-09-04 08:07] MSe1969 commented on #12
Okay, I'll close it now.

[2017-09-04 08:07] #12 closed

[2017-09-04 08:10] MSe1969 commented on #15
Not yet, unfortunately - I have now a little bit more time, so will try to work on it this week.

[2017-09-09 21:46] foresto opened #18 "PrivacyBrowser crash on start"
I just updated from a 20170526 build to 20170909. I see the default Browser has been replaced with PrivacyBrowser, which crashes when attempting to start it. Clearing the app's cache and data does not help.

logcat here:

https://gist.github.com/anonymous/0167f7e4c2c1c4da6cc53145ad82da52

[2017-09-10 09:54] MSe1969 commented on #15
I have applied (and backported) the boringssl changes of tag android-6.0.1_r80 into the cm-12.1-test branch of the *derfelot/android_external_chromium_org_third_party_boringssl_src* repo.
Created a test build, which I'll flash now.

[2017-09-10 09:56] MSe1969 commented on #18
Hi, I have followed the conversation with Soren Stoutner on XDA and as stated, it works fine on my device. Nevertheless, I'm currently doing a clean build and check again, just to make sure.

[2017-09-10 10:07] MSe1969 commented on #17
@Micha-Btz - I have merged cm-12.-test into cm-12.1 and updated the local manifest. I have however left out your fork of "sfntly", this still points to cm-12.1-test
Could you please take care and also update the local manifest(s)?
Thanks!

[2017-09-10 10:08] MSe1969 opened #19 "ASB 09/2017"
ASB published by Google, but no AOSP links, yet.
Nevertheless, opened the issue for follow-up.

[2017-09-10 11:17] MSe1969 commented on #15
Test build seems to run fine - tested web browsers (Firefox, PrivacyBrowser) https and logon via https, all looks good, so we could ship with the September ASB.

The impact in general however is low or even neglectible:
Up to Android 5, OpenSSL was used as the general SSL solution and Boringssl was only used for Chromium components (which we anyhow now pull as **pre-built webview.apk** from CM-14.

[2017-09-10 13:05] Micha-Btz commented on #17
@MSe1969 done :-)

[2017-09-10 13:08] Micha-Btz commented on #19
Kernel Components

- [ ] CVE-2017-8890 | A-38413975     | RCE | Critical | Networking subsystem
- [ ] CVE-2017-9076 | A-62299478    | EoP | High | Networking subsystem
- [ ] CVE-2017-9150 | A-62199770    | ID | High | Linux kernel
- [ ] CVE-2017-7487 | A-62070688    | EoP | High | IPX protocol driver
- [ ] CVE-2017-6214 | A-37901268    | DoS | High | Networking subsystem
- [ ] CVE-2017-6346 | A-37

[2017-09-10 16:45] hahnjo commented on #19
@Micha-Btz I think we are unaffected by CVE-2017-12146, `driver_override` was introduced with 3.17: https://github.com/torvalds/linux/commit/3d713e0e382e6fcfb4bba1501645b66c129ad60b

There is also a whole bunch of patches for Qualcomm components, will you take of them as well?

[2017-09-10 20:17] MSe1969 commented on #18
Hi,
I can't reproduce what you describe. Even after doing an explicit clean build (I did a clean build before, but to update the browser prebuilt, I indeed simply rebuilt and did not an own clean build), I can only repeat, what I said already before - Privacy Browser works without any issues.
I haven't received any further complaints from other users. Further, based on your conversation with Soren

[2017-09-10 20:17] #18 closed

[2017-09-11 05:51] Micha-Btz commented on #19
@hahnjo I think the next week I will not have time. If you have time please do it.

[2017-09-11 05:56] Micha-Btz commented on #15
My test build run fine too. So I think we can ship this with ASB 09/2017.

[2017-09-11 19:01] foresto commented on #18
Mystery solved: The problem is apparently triggered when Privacy Browser is started for the first time with a non-default theme applied in the "Style" category.

Workaround: Apply the default Style in the LineageOS Theme Chooser, start Privacy Browser, and then switch back to the Style of choice.

Thanks for the hint, @MSe1969

[2017-09-11 20:16] MSe1969 commented on #1
I have created a text file in the discussion repo with the XDA formatted install instructions, in case they get lost again ;)

[2017-09-12 07:53] MSe1969 commented on #15
My suspicion became confirmed:
The code is not even used any longer, since we have specified to use the pre-built webview.apk - I had the impression already when looking at the make files. So I made a test and simply entered the following statement into crypto/ec/ec.c: `#include "Ei gude, wie?"` - this should normally abort the build with a syntax error during compile, but the build went through w

[2017-09-12 11:08] Micha-Btz commented on #15
Great one repo less to patch :-)

[2017-09-14 14:50] MSe1969 commented on #19
The AOSP links are now published, so I will take care of the 2017-09-01 section. @Micha-Btz, @hahnjo - if you could take care about the 2017-09-05 stuff (kernel, qualcomm, ...) as applicable and publicly available, would be appreciated. Will let you know, if I need help. Thanks, M.

[2017-09-15 01:05] hahnjo commented on #19
Qualcomm components
- [ ] CVE-2017-11041
- [ ] CVE-2017-10996
- [ ] CVE-2017-9725
- [ ] CVE-2017-9724
- [ ] CVE-2017-8278
- [ ] CVE-2017-10999
- [ ] CVE-2017-11001
- [ ] CVE-2017-11002
- [ ] CVE-2017-8250
- [ ] CVE-2017-9677
- [ ] CVE-2017-10998
- [ ] CVE-2017-9676
- [ ] CVE-2017-8280
- [ ] CVE-2017-8251
- [ ] CVE-2017-10997
- [ ] CVE-2017-11000
- [ ] CVE-2017-8247
- [ ] CVE-2017-9720
- [ ] CVE-20

[2017-09-15 21:50] MSe1969 commented on #15
Okay, removed boringssl from tree, and make clean still worked w/o issues - so issue closed, not relevant

[2017-09-15 21:50] #15 closed

[2017-09-16 01:45] hahnjo commented on #19
As an update, I've checked the 13 CVEs that have public patches available, one backport still required for CVE-2017-8280 which is in the WLAN driver.

For the others, no patches are linked. I'll try to search for them, but probably there isn't much we can do about that...

[2017-09-16 11:22] MSe1969 commented on #1
@Micha-Btz @hahnjo - I've just gone through my repos used for this project and added you as collaborators - no action required yet, but better to have that access granted

[2017-09-16 11:22] MSe1969 commented on #19
Info: Have added an overview text file for the 2017-09-01 patches into discussion repo

[2017-09-16 13:10] hahnjo commented on #1
It would probably be easier to have all repositories in an organization...

[2017-09-16 13:32] MSe1969 commented on #1
I agree. Any preference for name?
I spontaneously suggest 'amami-lineage' or 'amami-dhmm' (the meaning of the 1st one is obvious, the 2nd would simply be the 1st letters of our github nicknames in alphabetical oder). Other proposals welcome as well. I'll set it up, then, if you agree (unless one of you wishes to set it up).

We should still do the September ASB "as is" and work in parallel on the

[2017-09-16 15:41] hahnjo commented on #1
`cm-12.1-amami` or the other way round because we really don't provide a current LineageOS (14.1 or 15).

Agree on your other points, maybe having an own issue would be good.

[2017-09-16 18:17] MSe1969 opened #20 "Github Organization f. cm-12.1-amami"
As discussed with @hahnjo, we should build an own organization in Github for our project.
This allows that all of us have admin rights and can clone repos etc.

We could then also implement the following improvements:
- a slight mod in 'build' to name the product output accordingly
- own build manifest (instead of an ever-growing local manifest)
- project git (f. 'repo init')

We need to first of

[2017-09-16 18:17] MSe1969 commented on #1
#20

[2017-09-16 18:37] hahnjo commented on #20
In favor of doing this. I don't really care for the name but IMO this is still based on CyanogenMod, not LineageOS...

[2017-09-16 22:28] MSe1969 commented on #19
Took care about CVE-2017-8278 and have done the 2017-09-01 section. Currently trying a test build. Trying to use Sqlite from cm-13.0 branch (patch is HUGE)...

[2017-09-18 09:32] Micha-Btz commented on #20
makes sense. I also doesn't care about the name but i like short names.

The main question is how far is cm-14.1 for amami. There was much work done so maybe we can
generally switch to cm-14.1. But I'm not up to date with this.

Also I have no time for the next 3 three weeks to help. But I will look at the mails.

[2017-09-20 11:32] hahnjo commented on #19
@MSe1969 I saw you released a built in the forum. As I haven't finished the CVEs and not even pushed the commits I currently have on my local drive (no time to compile-test them), your build won't contain the kernel patches. Also, I think there isn't the necessary kernel patch for BlueBorne, why do you think it is fixed?

[2017-09-20 12:03] MSe1969 commented on #19
Sorry @hahnjo, habe edited the forum post and removed the link, had the impression kernel was already patched. Blueborne has CVE numbers 2017-0781, 0782, 0783 and 0785, all system/bt is there also a kernel components?

[2017-09-20 12:12] MSe1969 commented on #19
According to the blueborne Scanner in Google play, out ROM is safe. I could, if you need more time, rebuild with string 2017-09-01. Or better wait until you're ready?

[2017-09-20 16:17] MSe1969 commented on #20
Also not up to date with progress on cm-14.1
But when considering the option for other releases, there should not be any cm12 in it.

What about "lamcr" (Lean AMami Custom ROM)? short, not too difficult to remember, not used yet on github and Google does not really indicate any common abbreviation or brand or anything...

[2017-09-20 22:37] hahnjo commented on #19
@MSe1969 I probably won't have time until Sunday. I could push the current state which isn't compile-tested as I said above if you want to have it...

[2017-09-21 06:45] MSe1969 commented on #19
@hahnjo take your time - I'll rebuild with string **2017-09-01**, which reflects the current state (w/o kernel) and publish as "interim release" in the forum (explicitly indicating, that 2017-09-05 will follow with the kernel updates). As indicated, "Blueborne" is fixed with that state and thus the interim fix.

[2017-09-21 06:57] MSe1969 commented on #20
... or simply "amami-rom" ?

[2017-09-21 07:01] MSe1969 commented on #20
@hahnjo @Micha-Btz @derfelot - Quick vote:
A. amami-rom
B. lamcr
C. cm12.1-amami
?

[2017-09-21 07:39] Micha-Btz commented on #20
c :-)

Am 21. September 2017 09:01:26 MESZ schrieb MSe1969 <notifications@github.com>:

[2017-09-21 07:48] Micha-Btz commented on #19
which app do you use to test?

Blueborne vulnerably scanner by armis  mean we are affected

Am 21. September 2017 08:45:31 MESZ schrieb MSe1969 <notifications@github.com>:

[2017-09-21 07:50] Micha-Btz commented on #19
![screenshot_2017-09-21-09-43-51](https://user-images.githubusercontent.com/4420944/30684639-55a0098a-9eb2-11e7-9b65-d74adf19ceb4.png)

[2017-09-21 07:53] MSe1969 commented on #19
Exactly that one **com.armis.blueborne_detector** - I've installed it and it says we are not affected.
Did you fully synch (pls. force-sync)?

[2017-09-21 07:55] Micha-Btz commented on #19
Did you have patched something? I'm on the August patch level.

[2017-09-21 07:55] MSe1969 commented on #19
important: including the local manifest

[2017-09-21 07:56] MSe1969 commented on #19
Yes, I have patched - in cm-12.1-test - all from 2017-09-01

[2017-09-21 07:58] MSe1969 commented on #19
only outstanding is kernel, which will be taken care of by hahnjo

[2017-09-21 08:04] Micha-Btz commented on #19
I haven't build a new rom for me since August. And before i go to vacation I will not get it.
Seems to be that one of your patches solved our BlueBurne :-)

[2017-09-21 10:13] MSe1969 commented on #19
Yes, ASB 2017.09 solves blueborne

[2017-09-21 13:17] hahnjo commented on #20
c 👍

[2017-09-21 17:55] MSe1969 commented on #20
Okay, C it is

[2017-09-21 18:05] MSe1969 commented on #20
dots are not allowed, so I made it **cm12-amami**

[2017-09-21 18:11] hahnjo commented on #20
You can probably set a title, that's only for URL I suppose

[2017-09-21 18:50] MSe1969 commented on #20
Okay, have seen you accepted the invitation and I have made you "owners", too
So all of us (when @derfelot accepts, we have to do the same for his account) are full admins now.

[2017-09-21 19:09] MSe1969 commented on #20
So we can now continue to discuss and setup the new org there, so I will close this issue
I have forked this repo already.

[2017-09-21 19:09] #20 closed

[2017-09-25 00:07] hahnjo commented on #19
I finally had time to apply the last (public) patch and fix one missing header include. Commits are pushed to `cm-12.1-test` and build is running fine on my phone. Unfortunately, I'm stuck with less than 300k/s which would take ages to upload...

[2017-09-25 08:16] MSe1969 commented on #19
Thanks @hahnjo - however, I don't have any sound when I build after synch'ing.
Could you please verify? Maybe some commits are missing in cm-12.1-test ?

[2017-09-25 12:37] hahnjo commented on #19
I can confirm the broken sound which also breaks the alarms. Will investigate asap

[2017-09-25 23:07] hahnjo commented on #19
I have reverted one commit that said it would remove two unused files - apparantly, we need them. This leaves CVE-2017-9677 open, but there is no patch for actually fixing the problem.

[2017-09-25 23:08] hahnjo commented on #13
Given the lack of activity, should we give up on this one? This has always been some kind of best-effort, hasn't it?

[2017-09-29 19:51] MSe1969 commented on #13
Agree, have no idea how to tackle, so if neither of you has, let's close it.

[2017-09-29 19:56] MSe1969 commented on #19
I propose to close this issue, as we have shipped the ASB. Let's open an issue "Deferred Patches" in cm12-amami and also take the other one. Maybe there will be a contribution later from someone with background knowledge...

[2017-09-29 19:58] MSe1969 commented on #1
As we will continue in organization "cm12-amami", it's time to close this issue.

[2017-09-29 20:01] #1 closed

[2017-09-30 16:48] hahnjo commented on #19
There actually was a kernel patch against BlueBorne, I've applied it in `cm-12.1-test`: https://github.com/cm12-amami/android_kernel_sony_msm8974/commit/9ac226e8709103556326000acb0c2c9929226006

Anyway, let's close this and ship the four patches I just pushed (including a commit that fixes hardware overlay for me) with the October ASB :+1:

[2017-10-02 07:43] Micha-Btz commented on #19
The hardware overlay fix worked for me too. I think we can close this and go on with our organisation.

[2017-10-02 07:43] #19 closed

[2017-10-02 07:47] Micha-Btz commented on #13
I also think so. Maybe we should create an issue which listed all CVE's which are know to be open. Maybe some time later we will find some solutions.

[2017-10-02 07:47] #13 closed